.activity-card {
    background-color: #0e0e10;
    border-radius: 29px !important;
    height: 100%; /* Adjust height according to your layout */
    border: none !important; /* Remove default border */
    overflow: hidden; /* Prevent scrollbars outside the card */
}

.activity-card .activity-list-container {
    height: 100%; /* Adjust height according to your layout */
    overflow-y: auto;
    scrollbar-width: thin;
}

/* Custom Scrollbar */
.activity-card .activity-list-container::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
}

.activity-header {
    padding: 17px 15px 11px 15px !important;
    text-align: center !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
    border-bottom: 2px solid #545556 !important; /* Divider color */
}

.activity-card {
    padding-bottom: 23px !important;
}

.activity-card .activity-list-container::-webkit-scrollbar-track {
    background: #1c1c1f; /* Track color */
    border-radius: 10px; /* Rounded corners for the track */
    padding: 10px 20px !important;
}

.activity-card .activity-list-container::-webkit-scrollbar-thumb {
    background-color: #f6e359; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners for the scrollbar */
    border: 2px solid #1c1c1f; /* Padding around the scrollbar thumb */
}

/* Custom scrollbar for Firefox */
.activity-card .activity-list-container {
    scrollbar-color: #f6e359 #1c1c1f; /* Scrollbar thumb and track color */
    scrollbar-width: thin; /* Thin scrollbar */
}

.activity-list-item {
    padding: 10px 15px;
    font-size: 18px !important;
    color: white !important;
    border: none !important;
    margin-left: 5px;
}

.activity-list-item:last-child {
    border-bottom: none; /* Remove bottom border for the last item */
}

.bg-dark {
    background-color: #0e0e10 !important; /* Consistent dark background */
}
