/* Modal.css */

.custom-modal-content .modal-content {
    background-color: #1F1F23; /* Custom background color */
    color: white;
    border-radius: 15px; /* Adjusted border-radius to match the design */
    border: white 1px solid; /* Added border with white color */
}

.custom-modal-content .modal-header {
    border-bottom: none; /* Remove the bottom border of the header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.custom-modal-content .modal-header .btn-close {
    color: black !important; /* Set the close button color to black */
    border-radius: 50%;
    font-size: 1.5rem; /* Increase size if necessary */
    padding: 0;
    background: #f6e359 !important; /* Set the background color to yellow */
    border: none; /* Remove border */
    background-color: #f6e359 !important; /* Set the background color to yellow */
}

.custom-modal-content .modal-header .btn-close:hover {
    color: #ffcc00 !important; /* Slightly lighter yellow on hover */
}

.custom-modal-content .modal-header .btn-close:focus {
    box-shadow: none; /* Remove the focus outline */
}

.custom-modal-content .modal-body {
    padding: 20px; /* Adjust padding as needed */
}

.custom-modal-content .modal-footer {
    border-top: none; /* Remove the top border of the footer */
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

.custom-modal-content .modal-title {
    color: #f6e359; /* Set the title color to match the close button */
}

.custom-modal-content .btn-secondary {
    background-color: #444;
    border: none;
    color: white;
}
