.buy-sell-modal {
    background-color: #1C1C1C !important;
    border-radius: 15px !important;
    padding: 20px !important;
    max-width: 400px !important;
    color: #FFFFFF !important;
    position: relative !important;
    border: none !important;
}

.modal-header,
.modal-footer {
    border: none !important;
}

.modal-header .close {
    color: #FFFF00 !important;
    font-size: 1.5rem !important;
}

.buy-sell-button-group {
    display: flex !important;
    justify-content: space-between !important;
    margin-bottom: 20px !important;
}

.buy-sell-button {
    flex: 1 !important;
    margin: 0 5px !important;
    background-color: transparent !important;
    color: white !important;
    border-radius: 10px !important;
    height: 36px !important;
    font-size: 1rem !important;
    border: 2px solid #545556 !important;
    font-weight: bold !important;
}

.buy-sell-button-active {
    border: 2px solid #FFFF00 !important;
    color: white !important;
}

.form-group {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 5px !important;
    padding: 0 !important;
    background-color: #1C1C1C !important;
    margin-bottom: 20px !important;
    height: 50px !important;
}

.form-group input {
    background-color: transparent !important;
    border: none !important;
    color: #FFFFFF !important;
    font-size: 1.25rem !important;
    flex: 1 !important;
    text-align: center !important;
    height: 100% !important;
    margin: 0 5px !important;
}

.form-group .increment-button,
.form-group .decrement-button {
    background-color: #FFFFFF !important;
    border: 1px solid black !important;
    color: black !important;
    height: 100% !important;
    width: 50px !important;
    font-size: 1.5rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer !important;
    border-radius: 5px !important;
}

.max-button-main {
    background-color: transparent !important;
    border: 1px solid #FFFFFF !important;
    color: white !important;
    height: 30px !important;
    width: 60px !important;
    font-size: 0.9rem !important;
    margin-left: 10px !important;
    border-radius: 5px !important;
}

.place-trade-button {
    background-color: #F6E359 !important;
    color: black !important;
    border-radius: 10px !important;
    font-size: 20px !important;
    width: 100% !important;
    margin-top: 20px !important;
    font-weight: bold !important;
    border: none !important;
}

.text-stats {
    color: white !important;
    font-size: 18px !important;
    margin-top: 10px !important;
    text-align: start !important;
}

.modal-body {
    padding: 20px !important;
}
