.user-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #0e0e10;
    color: white;
}

.user-card {
    width: 100%;
    max-width: 550px;
    background-color: #0e0e10;
    border-radius: 10px;
    padding: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    /* set spacing between the avatar and user info by 2px */
    margin-bottom: 20px;
    gap: 20px;

}

.avatar-placeholder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 20px;
}

.user-name {
    font-family: 'Cascadia Code', monospace;
    font-size: 1.5rem;
}

.wallet-info, .deposit-info, .balance-info{
    font-family: 'Cascadia Code', monospace;
    color: white;
    margin-top: 1rem;
    display: flex;
    gap: 20px;
    align-items: center;
}

.wallet-info {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.wallet-label, .wallet-address {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.copy-button, .withdraw-button, .logout-button {
    font-family: 'Cascadia Code', monospace;
    width: 100%;
    max-width: 100px;
    padding: 10px;
}

.portfolio-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    align-content: center;
    font-family: 'Cascadia Code', monospace;
    margin-bottom: 10px;
    color: black;
    /* set pointer cursor on hover */
    cursor: pointer;
    border-radius: 8px !important;
    border-bottom: none !important;
    height: 60px;
}

.logout {
    text-align: center;
}
