/* Body styling  disable overflow */
body {
    font-family: 'Fira Sans', sans-serif !important;
    font-size: 20px !important;
    background: #0e0e10 !important;
    color: white !important;
    overflow-x: hidden; /* Disable horizontal scrolling */
}

body * {
    font-family: 'Fira Sans', sans-serif !important;
}

/* Background dark styles */
.bg-dark {
    background-color: #1F1F23 !important;
}


