@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ThaleahFat';
  src: url('/DepartureMono-Regular.woff') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 13%; /* Updated background color in HSL */
    --foreground: 210 40% 98%;
    --card: 0 0% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 90%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 70%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 0 0% 13%; /* Updated background color in HSL */
    --foreground: 0 0% 8%; /* Updated foreground color in HSL */
    --card: 0 0% 15%;
    --card-foreground: 0 0% 90%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 90%;
    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 90%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 90%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 90%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 70%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-color: #111113;
    font-family: 'ThaleahFat', sans-serif; /* Apply the custom font */
  }
}

.breathing-effect  {
  animation: breathing-effect 2s ease-in-out infinite;
}
@keyframes breathing-effect  {
  0%, 100% {
    transform: scale(1);    
  }
  50% {
    transform: scale(1.1);
    color: #FFF200;

  }
}


.breathing-effect-fast  {
  animation: breathing-effect 1s ease-in-out infinite;
}
@keyframes breathing-effect-fast  {
  0%, 100% {
    z-index: 10000;
    transform: scale(1);    
  }
  50% {
    z-index: 10000;
    transform: scale(1.01);
    color: #FFF200;

  }
}

.breathing-red {
  animation: breathing-red 2s ease-in-out infinite;
}
@keyframes breathing-red  {
  0%, 100% {
    transform: scale(1);    

  }
  50% {
    transform: scale(1.1);
    color: rgb(255, 159, 159);
  }
}


.breathing-green {
  animation: breathing-green 2s ease-in-out infinite;
}
@keyframes breathing-green  {
  0%, 100% {
    transform: scale(1);    
  }
  50% {
    transform: scale(1.1);
    color: rgb(159, 255, 159);
  }
}




